:root{
  --bg: #eeeeee;
  --fg: #222831;
  --navbar: #dcdada;
  --main: #dcdada;
}

body.dark{
  --bg: #222831;
  --fg: #eeeeee;
  --navbar: #393e46;
  --main: #393e46;
}

body {
  background: var(--bg); 
  color: var(--fg);
  transition: all 200ms ease-in;
}

* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body{
  font-family: "Roboto", sans-serif;
}

  .navbar{
    background: var(--navbar); 
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 2;
    top: 0;
    left: 0;
  }

  .navbar .logo{
    color: var(--fg);
    position: absolute;
    top: 10px;
    left: 15px;
  }

  .navbar .button{
    position: absolute;
    right: 15px;
    top: 15px;
    background: #5853bc; 
    padding: .5em 1em;
    font-size: 12px;
    border-radius: 5px;
    color: #eeeeee;
    text-decoration: none;
    cursor: pointer;
  }

  button{
    background: #5853bc; 
    padding: 1em 1.5em;
    border-radius: 5px;
    color: #eeeeee;
    border: none;
    cursor: pointer;
  }

  main{
    margin: 5em auto 2em auto;
    padding: 1.5em;
    border-radius: 10px;
    max-width: 990px;
    width: calc(90% - 3em);
    background: var(--main);
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  main .settings-box{
    display: grid;
    place-content: center;
    font-size: x-small;
    gap: .25em;
  }

  #confettiContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

  main h1{
    text-align: center;
    padding: 1em 0em;
  }
  
  main .desc{
    text-align: center;
    width: 90%;
    max-width: 550px;
    margin: auto;
  }

  main .attempts{
    position: absolute;
    top: 1em;
    left: 1em;
    background-color: var(--bg);
    padding: .5em;
    border-radius: 10px;
  }

  main .main-button{
    display: grid;
    place-content: center;
    margin: 1em auto;
  }

  main .button-container{
    margin: 1em auto;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: .5em;
  }

  main .pg-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;
    margin: 2em auto;
   
  }

  main .threecol{
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: 2em auto;
    display: grid;
  }

  main .threecol > div {
    padding: 1em;
    width: 80%;
    margin: .5em auto;
    text-align: center;
    background-color: var(--bg);
  }

  main .threecol > div label{
    border-bottom: 2px solid #5853bc;
    padding: .25em;
    font-size: 18px;
    transition: all 300ms linear;
  }

  main .threecol>div:hover>label{
    border-bottom: 0;
  }

  main .info {
    text-align: center;
    background-color: var(--bg);
    color: var(--fg);
    width: calc(100% - 2em);
    line-height: 1.5;
    padding: 1em;
    margin: 1em auto;
    max-width: 620px;
    border-radius: 10px;
  }

  #forza, #int, #destrezza, #sagg, #cost, #carisma {
    background: var(--main);
    width: 42px;
    height: 42px;
    border-radius: 100%;
    display: grid;
    place-content: center;
    margin: 1em auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  main .pg-grid > div{
    background-color: var(--bg);
    padding: 1em;
    width: 90%;
  }

  main .spells-container{
    background-color: var(--bg);
    padding: 1em;

  }

  .spells-container ul{
    list-style: none;
  }

  .spells-container ul li {
    margin: .25em;
  }

  .spells-container #spellsContainer{
    display: grid;
    grid-template-columns: 50% 50%;
  }

  #spellsContainer > div {
    width: 90%;
    line-height: 1.5;
  }
  #spellsContainer > div  > h3{
    margin: .25em auto;
  }

  .minus{
    color: red;
    font-size: small;
  }
  
  .plus{
    color: green;
    font-size: small;
  }

  .footer{
    width: 100%;
    margin: 2em auto;
    text-align: center;
    font-size: 12px;
    height: 40px;
  }



  @media(max-width: 720px){
    main .pg-grid{
        grid-template-columns: auto;
    }

    main .threecol{
      grid-template-columns: 50% 50%;
      gap: 0;
    }

    main .threecol>div{
      margin: 0 auto;
    }

    .spells-container #spellsContainer{
        grid-template-columns: auto;
    }
  }

  @keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(720deg);
        opacity: 0;
    }
}

.confetti {
    position: absolute;
    border-radius: 5px;
    will-change: transform, opacity;
    animation-timing-function: ease-in-out; 
}


.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 35px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 100%;
}

input:checked + .slider {
  background-color: #5853bc;
}

input:focus + .slider {
  box-shadow: 0 0 1px ;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}


#toggle-button{
  height: 30px;
  width: 30px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  right: 100px;
  top: 13px;
  display: grid;
  place-content: center;
}

#toggle-button.fa-moon{
  transform: rotate(360deg);
}