* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}
  body {
    background: #eeeeee; 
    font-family: "Roboto", sans-serif;
    color: #222831;
  }

  .navbar{
    background: #393e46; 
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 2;
    top: 0;
    left: 0;
  }

  .navbar .logo{
    color: #eeeeee;
    position: absolute;
    top: 10px;
    left: 15px;
  }

  .navbar .button{
    position: absolute;
    right: 15px;
    top: 15px;
    background: #5853bc; 
    padding: .5em 1em;
    font-size: 12px;
    border-radius: 5px;
    color: #eeeeee;
    text-decoration: none;
    cursor: pointer;
  }

  button{
    background: #5853bc; 
    padding: 1em 1.5em;
    border-radius: 5px;
    color: #eeeeee;
    border: none;
    cursor: pointer;
  }

  main{
    margin: 5em auto 2em auto;
    padding: 1.5em;
    border-radius: 10px;
    max-width: 990px;
    width: calc(90% - 3em);
    background: #e3e1e7;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  #confettiContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

  main h1{
    text-align: center;
    padding: 1em 0em;
  }
  
  main .desc{
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: auto;
  }

  main .attempts{
    position: absolute;
    top: 1em;
    left: 1em;
  }

  main .button-container{
    margin: 1em auto;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: .5em;
  }

  main .pg-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;
    margin: 2em auto;
   
  }

  main .threecol{
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: 2em auto;
    display: grid;
  }

  main .threecol > div {
    padding: 1em;
    width: 80%;
    margin: .5em auto;
    text-align: center;
    background-color: #eeeeee;
  }

  main .threecol > div label{
    border-bottom: 2px solid #5853bc;
    padding: .25em;
    font-size: 18px;
    transition: all 300ms linear;
  }

  main .threecol>div:hover>label{
    border-bottom: 0;
  }

  main .info {
    text-align: center;
    background-color: #393e46;
    color: #eee;
    width: calc(100% - 2em);
    line-height: 1.5;
    padding: 1em;
    margin: 1em auto;
    max-width: 620px;
  }

  #forza, #int, #destrezza, #sagg, #cost, #carisma {
    background: #eeeeee;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    display: grid;
    place-content: center;
    margin: 1em auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  main .pg-grid > div{
    background-color: #eeeeee;
    padding: 1em;
    width: 90%;
  }

  main .spells-container{
    background-color: #eeeeee;
    padding: 1em;

  }

  .spells-container ul{
    list-style: none;
  }

  .spells-container ul li {
    margin: .25em;
  }

  .spells-container #spellsContainer{
    display: grid;
    grid-template-columns: 50% 50%;
  }

  #spellsContainer > div {
    width: 90%;
    line-height: 1.5;
  }
  #spellsContainer > div  > h3{
    margin: .25em auto;
  }

  .minus{
    color: red;
  }
  
  .plus{
    color: green;
  }

  .footer{
    width: 100%;
    margin: 2em auto;
    text-align: center;
    font-size: 12px;
  }



  @media(max-width: 720px){
    main .pg-grid{
        grid-template-columns: auto;
    }

    main .threecol{
      grid-template-columns: 50% 50%;
    }

    .spells-container #spellsContainer{
        grid-template-columns: auto;
    }
  }

  @keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(720deg);
        opacity: 0;
    }
}

.confetti {
    position: absolute;
    border-radius: 5px;
    will-change: transform, opacity;
    animation-timing-function: ease-in-out; 
}


